
body {
	font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Geneva,sans-serif;
	font-size: 108%;
	margin: 2em;
}

address {
	font-size: 75%;
	border-top: 1pt solid black;
}

div#head {
	color: inherit;
	position: relative;
}

div#topright {
	font-size: small;
	position: relative;
	bottom: 70px;
	right: 5px;
	padding-left: 650px;
}

div.error {
	font-family: Courier;
	font-size: small;
	font-weight: bold;
	margin-right: 50%;
	border: 2pt solid red;
	padding: 1ex;
	color: red;
}

div.info {
	font-family: Courier;
	font-size: small;
	font-weight: bold;
	margin-right: 50%;
	color: blue;
}

div.grey {
	font-family: Courier;
	font-size: small;
	margin-right: 50%;
	background-color: #ddd;
	padding: 1ex;
}

tt {
	font-family: Courier;
	font-size: 108%;
}

tr.redlight {
	background-color: #fdd;
}

tr.reddark {
	background-color: #ecc;
}

tr.greenlight {
	background-color: #dfd;
}

tr.greendark {
	background-color: #cec;
}

tr.bluelight {
	background-color: #ddf;
}

tr.bluedark {
	background-color: #cce;
}

tr.grey {
	background-color: #ccc;
	border-bottom: 3pt solid #444;
}

th {
	font-weight: normal;
	padding: 1ex;
}

td {
	font-weight: normal;
}

td.frame {
	border: 1pt solid black;
	padding: 1ex;
	vertical-align: top;
}

td.frameright {
	border: 1pt solid black;
	border-right: 3pt solid black;
	padding: 1ex;
	vertical-align: top;
}

td.frameleft {
	border: 1pt solid black;
	border-left: 3pt solid black;
	padding: 1ex;
	vertical-align: top;
}

td.frameleftright {
	border: 1pt solid black;
	border-left: 3pt solid black;
	border-right: 3pt solid black;
	padding: 1ex;
	vertical-align: top;
}

div.bugeven {
	background-color: #ccc;
}

div.bugodd {
	background-color: #eee;
}

a:link {
	color: #00f;
}

a:visited {
	color: #00f;
}

a:hover {
	background-color: yellow;
}

.pagination {
	background-color: #ada;
}

